.background-container {
    background-image: url("../images/background.jpg");
    background-size: cover;
}
.form-control-file input[type="file"] {
    display: block;
    margin: 0 auto;
    width: 50%; /* Điều chỉnh độ rộng nếu cần thiết */
}

.form-control-file button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 50%; /* Điều chỉnh độ rộng nếu cần thiết */
}
.card-qrcode img {
    max-width: 350px !important; /* Hoặc bất kỳ kích thước nào bạn muốn */
    height: auto !important;
    margin: 0 auto !important; /* Trung tâm ảnh */
}


.card-custom,
.card-qrcode,
.card-countdown {
    border-color: #1B1F24;
    border-radius: 8px;
    border-width: 2px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    background-color: #212529;
    color: #fff;
}

    .card-countdown .countdown {
        font-size: 50px;
    }
.full-height-container.background-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Ẩn chữ 'no file chosen' khi không có tệp được chọn */


    /* Thiết lập giao diện cho label */
.form-control-file label {
    width: 15%;
    cursor: pointer;
    display: block;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
   
}

        /* Thiết lập giao diện cho label khi hover */


